@for $row from 0 through 3 {
  @for $column from 0 through 3 {
    .position_#{$row}_#{$column}:not(.isMoving) {
      top: calc(var(--gap) + (var(--tile) + var(--gap)) * #{$row});
      left: calc(var(--gap) + (var(--tile) + var(--gap)) * #{$column});
    }
  }
}

@for $fromRow from 0 through 3 {
  @for $toRow from 0 through 3 {
    $name: row_from_#{$fromRow}_to_#{$toRow};
    .#{$name} {
      @if $fromRow == $toRow { top: calc(var(--gap) + (var(--tile) + var(--gap)) * #{$toRow}); }
      @else { animation: #{$name} .16s ease-out forwards; }
    }
    @if $fromRow != $toRow {
      @keyframes #{$name} {
        from { top: calc(var(--gap) + (var(--tile) + var(--gap)) * #{$fromRow}); }
        to { top: calc(var(--gap) + (var(--tile) + var(--gap)) * #{$toRow}); }
      }
    }
  }
}

@for $fromColumn from 0 through 3 {
  @for $toColumn from 0 through 3 {
    $name: column_from_#{$fromColumn}_to_#{$toColumn};
    .#{$name} {
      @if $fromColumn == $toColumn { left: calc(var(--gap) + (var(--tile) + var(--gap)) * #{$toColumn}); }
      @else { animation: #{$name} .16s ease-out forwards; }
    }
    @if $fromColumn != $toColumn {
      @keyframes #{$name} {
        from { left: calc(var(--gap) + (var(--tile) + var(--gap)) * #{$fromColumn}); }
        to { left: calc(var(--gap) + (var(--tile) + var(--gap)) * #{$toColumn}); }
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after { animation-duration: .01ms !important; animation-delay: 0ms !important; }
}
